<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href= "http://fontawesome.io/assets/font-awesome/css/font-awesome.css"> -->

<link 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>


<div class="card mb-4" *ngIf="member">
<div class="card-img-wrapper">
    <img src="{{member.photoUrl}}" alt="member?.KnownAs" class="card-img-top">
    <ul class="list-inline member-icons animate text-center">
    <li class="list-inline-item"><button routerLink ="/members/{{member.userName}}"  class="btn btn-primary"><i class="fa fa-user icon-cog" style="color:red"></i></button></li>
    <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-heart" style="color:red"></i></button></li>
    <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-envelope" style="color:red"></i></button></li>
</ul>

</div>
<div class="card-body p-1">

    <h6 class="card-title text-center mb-1">
        <i class="fa fa-user me-2 "></i>
    </h6>

    <p class="card-text text-mutd text-center">{{member.city}}</p>
</div>
</div>
<!-- 
fa: fontawesome
mb:margin bottom -->
